body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.dark-mode {
    background-color: #111113;
    color: #e3e3e3;

    .navbar-brand {
        color: #e3e3e3;
    }

    .intro {
        min-height: 100vh;
    }

    .image {
        width: 530px;
        height: 150px;
    }

    @media screen and (max-width: 767px) {
        .image {
            width: 100%;
        }
    }

    .typed {
        color: #0EF6CC !important;
    }

    .form-control {
        padding: 12px 16px;
        border-radius: 100px;
        font-size: 14px;
        color: #343440;

        &:hover {
            border: 1px solid #0EF6CC;
        }

        &:focus,
        &:active {
            box-shadow: none;
            outline: none;
            border: 1px solid #0EF6CC;
        }

        &::placeholder {
            font-size: 14px;
        }
    }

    #surat .card {
        background: linear-gradient(145deg, rgba(46, 46, 46, 1) 0%, rgba(11, 11, 11, 1) 100%);
        color: var(--white-color);
        border: 0.1px solid #3b3b3b;
        cursor: pointer;

        &:hover {
            border: 0.1px solid #0EF6CC;
        }
    }

    .nomor {
        color: #111113;
        width: 45px;
        height: 45px;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        background-color: #E8E8E9;
        font-size: 12px;

        &:hover {
            background-color: #0EF6CC;
            color: #111113;
        }
    }

    .nomor-detail {
        color: #111113;
        width: 30px;
        height: 30px;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        background-color: #0EF6CC;
        font-size: 12px;

        &:hover {
            background-color: #e3e3e3;
            color: #111113;
        }
    }

    .surah {
        box-shadow: 8px -8px 16px #070708,
            -8px 8px 16px #070708;
    }

    .hover {
        background-color: #0EF6CC;
        color: #111113;
    }

    .title {
        font-size: 16px;
        font-weight: 700;
        color: #e3e3e3;
    }

    .subtitle {
        color: #e3e3e3;
    }

    .headerDetail {
        background: rgb(14, 246, 204);
        background: linear-gradient(145deg, rgba(14, 246, 204, 1) 0%, rgba(14, 246, 204, 1) 100%);
        color: #f4fefd;
    }

    .header-surah-title {
        font-size: 28px;
        font-weight: 400;
        color: #0EF6CC;
    }

    .teks-latin {
        font-size: 16px;
    }

    .teks-indo {
        font-size: 14px;
    }

    .image-bg {
        width: 100px;
        opacity: .6;
    }

    .audio-player {
        cursor: pointer;
        width: 40px;
        height: 40px;
        background-color: #111113;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        box-shadow: 8px -8px 16px #070708,
            -8px 8px 16px #070708;

        &:hover {
            filter: brightness(1.3);

            ::before {
                filter: brightness(.5);
            }
        }
    }
}

.light-mode {
    background-color: #fef4f4;
    color: #2e2828;

    .navbar-brand {
        color: #2e2828;
    }

    .intro {
        min-height: 100vh;
    }

    .image {
        width: 530px;
        height: 150px;
    }

    @media screen and (max-width: 767px) {
        .image {
            width: 100%;
        }
    }

    .typed {
        color: #f65151 !important;
    }

    .form-control {
        padding: 12px 16px;
        border-radius: 100px;
        font-size: 14px;
        color: #343440;

        &:hover {
            border: 1px solid #f65151;
        }

        &:focus,
        &:active {
            box-shadow: none;
            outline: none;
            border: 1px solid #f65151;
        }

        &::placeholder {
            font-size: 14px;
        }
    }

    #surat .card {
        background: linear-gradient(145deg, rgba(254, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 100%);
        color: var(--white-color);
        border: 0.1px solid #f65151;
        cursor: pointer;

        &:hover {
            border: 0.1px solid #503a3a;
        }
    }

    .nomor {
        color: #fef4f4;
        width: 45px;
        height: 45px;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        background-color: #f65151;
        font-size: 12px;

        &:hover {
            background-color: #503a3a;
            color: #fef4f4;
        }
    }

    .nomor-detail {
        color: #fef4f4;
        width: 30px;
        height: 30px;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        background-color: #f65151;
        font-size: 12px;

        &:hover {
            background-color: #2e2828;
            color: #fef4f4;
        }
    }

    .surah {
        background: linear-gradient(315deg, #dbdcdc, #ffffff);
        box-shadow: -10px -10px 25px #bbbcbc,
            10px 10px 25px #ffffff;
    }

    .hover {
        background-color: #503a3a;
        color: #fef4f4;
    }

    .title {
        font-size: 16px;
        font-weight: 700;
        color: #2e2828;
    }

    .subtitle {
        color: #2e2828;
    }

    .headerDetail {
        background: rgb(254, 244, 244);
        background: linear-gradient(145deg, rgba(254, 244, 244, 1) 0%, rgba(246, 81, 81, 0.8519782913165266) 100%);
        color: #f65151;
    }

    .header-surah-title {
        font-size: 28px;
        font-weight: 400;
        color: #f65151;
    }

    .teks-latin {
        font-size: 16px;
    }

    .teks-indo {
        font-size: 14px;
    }

    .image-bg {
        width: 100px;
        opacity: .6;
    }

    .audio-player {
        cursor: pointer;
        width: 40px;
        height: 40px;
        background-color: #fef4f4;
        display: flex;
        color: #fef4f4;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #f65151;
        box-shadow: inset -9px -9px 4px #aa3838,
            inset 9px 9px 4px #ff6a6a;

        &:hover {
            filter: brightness(1.3);

            ::before {
                filter: brightness(.5);
            }
        }
    }
}